### IntelliJ IDEA ###
.idea
*.iml
*.ipr
*.iws
.project

/logs
*/logs
/target
*/target
*.private.properties
mybatisGeneratorConfiguration.xml
application.yml
application-*.yml
readme.txt
/jrebel-classpath-*.jar
*/src/main/resources/generated/document.html
*/src/main/resources/generated/swagger-ui/*

